section(class="row", id="features")
    article(class="col m3")
        div(class="card")
            div(class="-content _alignCenter")
                i(class="fas fa-rocket _f-purple")
                h5 Fast
                p Running on the popular Node.js Express framework, experience fast response time to your resquests.
    
    article(class="col m3")
        div(class="card")
            div(class="-content _alignCenter")
                i(class="fas fa-rocket _f-purple")
                h5 Reliable
                p Services can be used with optimality without occurrences of downtimes, except when explicityly notified.
    
    article(class="col m3")
        div(class="card")
            div(class="-content _alignCenter")
                i(class="fas fa-rocket _f-purple")
                h5 Secure
                p our data is always safe and will never be used without your consent. We only ask that you do your part and keep your credentials private.