footer(class="_dark _f-white _alignCenter")
    a(class="button _noMargin _round _primary",
        href="https://github.com/yegow/sf-server",
        target="_blank") Fork
        i(class="fas fa-code-branch")