section(class="jumbo _purple")
    img(class="-round" 
        src="https://res.cloudinary.com/doltfsoo1/image/upload/v1571303802/Electro-Pp_1_qbywq7.png" 
        width="200")
    h1 Welcome to the Smart Fundi API
    p Connecting services to consumers.
    p Explore some of our endpoints.
    span(class="note _bc-success _f-pink _nightblue _shadow") Sorry, data coming soon
        i(class="fas fa-stopwatch")