doctype html
html
    head
        link(rel="stylesheet", href="https://rawgit.com/outboxcraft/beauter/master/beauter.min.css")/
        link(rel="stylesheet", href="stylesheets/style.css")
        script(src="https://kit.fontawesome.com/28db3bf98b.js", crossorigin="anonymous")

    body
        block nav
            include ./includes/nav
            
        block content

        block foot
            include ./includes/footer

        script(src="https://rawgit.com/outboxcraft/beauter/master/beauter.min.js")