.topnav {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#features .card {
  min-height: 19.5em;
}

.card .fas {
  font-size: 4em;
  margin: .2em auto;
}

.note {
  padding: .75em !important;
}

.jumbo .fas, footer .fas {
  font-size: 1.5em;
}

footer {
  padding: .7em 0;
}